@media screen and (max-width:768px) {
    .btn-footer {
        display: none;
    }
}

h1, h2, h3, h4 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

table {
    width: 100%;
}

.underline {
    text-decoration: underline;
}
