@media screen and (max-width:768px) {
    .btn-footer {
        display: none;
    }
}

h1, h2, h3, h4 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

table {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
}

thead {
    background-color: #F1F1F1;
}

table, th, td {
    border: 0.5px solid #DDDDDD;
}

th, td {
    padding: 0.5em;
}

th {
    font-weight: bold;
}

caption {
    color: #000000;
}

.underline {
    text-decoration: underline;
}
